<h1>Listing employees</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.Name%></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
    </tr>
  <% end %>
</table>  